<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>FBU Hacker's club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type = "text/css" th:href="@{/css/styles.css}"/>
  <link  rel="stylesheet" type = "text/css" th:href="@{/https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900}" />
</head>
  <body>
    <div class="main-nav">
      <ul class="nav justify-content-center">
          <li class="nav-item"><a class ="index.html active " th:href="@{/index.html}">Homepage</a></li>
          <li class="nav-item"><a class ="Hackers.html active " th:href="@{/Hackers.html}">Hackers</a></li>
          <li><a th:href="@{/EventsPage.html}">Events</a></li>
          <li><a th:href="@{/PhotosPage.html}">Photos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <header>
      <img th:src="@{/FBUseal.jpg}" alt="Fontbonne Seal" class="profile-image" />
      <h1 class="tag name">Fontbonne University Hacker's Club</h1>
      <p class="tag location">Coding + Linux = Access</p>
    </header>

    <main class="flex">
      <div class="card">
        <h2>Background</h2>
        <p>Our club, founded in 2017, has always been about seeking out young, capable students in Computer/Cyber Security majors that enjoy socializing about computers, code, hacks, linux, and other hacker-esque hobbies.</p>
        <p>Joining our club is simple. Enter your first name and student ID below and hit "submit":</p>
			<form method="post" th:object="${member}" th:action="@{/register}">
				  <input type="text" th:field="*{firstname}" class="form-control" placeholder="Firstname" aria-label="First name:" aria-describedby="basic-addon2" />
                  <input type="text" th:field="*{studentID}" class="form-control" placeholder="Studentid" aria-label="StudentID:" aria-describedby="basic-addon2" />
                  <input type="text" th:field="*{email}" class="form-control" placeholder="Email" aria-label="StudentID:" aria-describedby="basic-addon2" />
                  <br/>
				  <button type="submit" value="Submit" onclick="submit" />
				</form>
      </div>
      <div class="card">
        <h2>Goals</h2>
        <p>Our club has a strong emphasis on accomplishing the following tasks when we meet up as a group:</p>
        <ul class="skills">
          <li>Scheduling future meetings</li>
          <li>Planning events (Hackathon, Capture the Flag competitions, etc.)</li>
          <li>Sharing ideas and findings regarding hacking discoveries</li>
          <li>Sharing code and programs</li>
          <li>Learning and teaching each other new languages</li>
        </ul>
      </div> 

    </main>
    <footer>
      <ul>
        <li><a href="#" class="social twitter">Twitter</a></li>
        <li><a href="#" class="social linkedin">LinkedIn</a></li>
        <li><a href="#" class="social github">Github</a></li>
      </ul>
      <p class="copyright">Copyright 2017, Fontbonne University</p>
    </footer>
	<script th:src="@{/js/konami.js}"></script>
  </body>
  </html>
