<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <title>Hacker's Club photos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="PhotosStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet"></head>
  <body>

    <div class="main-nav">
        <ul class="nav">
          <li class="name">Photos</li>
		  <li><a href="index.html">Homepage</a></li>
          <li><a href="Hackers.html">Hackers</a></li>
          <li><a href="EventsPage.html">Events</a></li>
          <li><a href="PhotosPage.html">Photos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <header>
      <img th:src="@{/CartoonCamera.jpg}" alt="Camera" class="profile-image"/>
      <h1 class="tag name">Photos and Media</h1>
      <p class="tag location">Proof of our commitment</p>
    </header>

  <div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="/src/main/resources/static/PhotosAndMedia/img1.jpg">
			<img th:src="@{/img1.jpg}" alt="Photo 01" width="300" height="200"/>
		</a>
      <div class="desc">Our team hacking the CSA</div>
    </div>
  </div>


	<div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="src/main/resources/static/PhotosAndMedia/img2.jpg"/>
				<img th:src="@{/img2.jpg}" alt="Touching code?" width="600" height="400"/>
			</a>
		   <div class="desc">Here we are figuring out Fontbonne's student passwords</div>
		</div>
	</div>
	<div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="src/main/resources/static/PhotosAndMedia/img3.jpg">
				<img th:src="@{/img3.jpg}" alt="Boxing" width="600" height="400"/>
			</a>
		   <div class="desc">Hacking the Pentagon and the illuminati. What a day!</div>
		</div>
	</div>
	<div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="src/main/resources/static/PhotosAndMedia/img4.jpg">
				<img th:src="@{/img4.jpg}" alt="Tablet creeping" width="600" height="400"/>
			</a>
		   <div class="desc">Probing Tian's Apple watch</div>
		</div>
	</div>
	<div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="src/main/resources/static/PhotosAndMedia/img5.jpg">
				<img th:src="@{/img5.jpg}" alt="eyepatch" width="600" height="400"/>
			</a>
		   <div class="desc">Holding the national consumer debt data hostage</div>
		</div>
	</div>
	<div class="AutoAlignment">
		<div class="gallery">
			<a target="_blank" href="src/main/resources/static/PhotosAndMedia/img5.jpg">
				<img th:src="@{/img6.jpg}" alt="literal key" width="600" height="400"/>
			</a>
		  <div class="desc">Hacking Anonymous</div>
		</div>
    </div>
</body>
</html>
