<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <title>FBU Hacker's club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Users/HackersStyle.css">
  <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet"></head>
  <body>

    <div class="main-nav">
        <ul class="nav">
          <li class="name">Registration</li>
		  <li><a href="index.html">Homepage</a></li>
          <li><a href="Hackers.html">Hackers</a></li>
          <li><a href="EventsPage.htm">Events</a></li>
          <li><a href="PhotosPage.html">Photos</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <header>
		<style>
			.card {
				width: 500px;
				margin: auto;
			}
			.card:hover {
			  width: 575px;
			  height: 100px;
			  border-color: #7CFC00;
			  border-bottom: 6px solid #7CFC00;
			  border-radius: 7px;
			}
			</style>
		  <h1 class="tag name">Registration Complete!</h1>
		
    </header>

    <main class="flex">
      <div class="card">
        <p>Your registration is complete! Welcome to the hacker's club!</p>
      </div>

    </main>
    <footer>
      <ul>
        <li><a href="#" class="social twitter">Twitter</a></li>
        <li><a href="#" class="social linkedin">LinkedIn</a></li>
        <li><a href="#" class="social github">Github</a></li>
      </ul>
      <p class="copyright">Copyright 2017, Fontbonne University</p>
    </footer>
  </body>
  </html>